<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>

  <body class="vertical light">
    <main class="wrapper vh-100">
      <div class="container-fluid">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 col-md-8 col-10 mx-auto">
            <div class="mx-auto my-4 text-center">
              <a
                class="navbar-brand flex-fill mx-auto mt-2 text-center"
                href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-settings brand-md">
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                </svg>
              </a>
              <h2 class="my-3">Setup Your Website</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="websiteTitle">Website Title</label>
                <input
                  type="name"
                  name="websiteTitle"
                  class="form-control"
                  id="websiteTitle"
                  required />
              </div>
              <div class="form-group">
                <label for="websiteDescription">Description</label>
                <textarea
                  type="text"
                  name="websiteDescription"
                  class="form-control"
                  id="websiteDescription"
                  rows="2"
                  required></textarea>
              </div>
              <div class="form-group">
                <label for="websiteLogo"
                  >Website Logo ( Recommended size 700X350 pixel )</label
                >
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="websiteLogo"
                    name="websiteLogo"
                    accept="image/*" />
                  <label class="custom-file-label" for="websiteLogo"
                    >Choose file</label
                  >
                </div>
              </div>
              <hr class="my-4" />
              <div class="form-group">
                <label for="adminEmail">Admin Email</label>
                <input
                  type="email"
                  name="adminEmail"
                  class="form-control"
                  id="adminEmail"
                  required />
              </div>
              <div class="form-group">
                <label for="adminUsername">Admin Username</label>
                <input
                  type="text"
                  name="adminUsername"
                  class="form-control"
                  id="adminUsername"
                  required />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="adminFirstName">Admin Firstname</label>
                  <input
                    type="text"
                    name="adminFirstName"
                    id="adminFirstName"
                    class="form-control"
                    required />
                </div>
                <div class="form-group col-md-6">
                  <label for="adminLastName">Admin Lastname</label>
                  <input
                    type="text"
                    name="adminLastName"
                    id="adminLastName"
                    class="form-control"
                    required />
                </div>
              </div>
              <div class="form-group">
                <label for="adminBio">Admin Bio</label>
                <textarea
                  type="text"
                  name="adminBio"
                  class="form-control"
                  id="adminBio"
                  rows="4"></textarea>
              </div>
              <hr class="my-4" />
              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="adminPass">New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="adminPass"
                      name="adminPass"
                      required />
                  </div>
                  <div class="form-group">
                    <label for="adminConfirmPass">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="adminConfirmPass"
                      name="adminConfirmPass"
                      required />
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="mb-2">Password requirements</p>
                  <p class="small text-muted mb-2">
                    To create a new password, you have to meet all of the
                    following requirements:
                  </p>
                  <ul class="small text-muted pl-4 mb-0">
                    <li>Minimum 8 character</li>
                    <li>At least one special character</li>
                    <li>At least one number</li>
                    <li>Can’t be the same as a previous password</li>
                  </ul>
                </div>
              </div>
              <input
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                value="Get started" />
            </form>
            <p class="text-muted mt-5 mb-3 text-center">
              ©
              <script>
                var CurrentYear = new Date().getFullYear();
                document.write(CurrentYear);
              </script>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- .wrapper -->

    <%- include('partials/script'); -%> <% if(typeof message !== 'undefined'){
    %>
    <script>
      Toastify({
        text: "<%= message %>",
        duration: 3000,
        close: false,
        gravity: "top", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        style: {
          background: "<%= statusColor %>",
        },
      }).showToast();
    </script>
    <% } %>
  </body>
</html>
