<div class="bg-wrapper">
    <div class="bg-wrapper_section"></div>
    <div class="bg-wrapper_section"></div>
    <div class="bg-wrapper_section"></div>
    <div class="bg-wrapper_section"></div>
    <div class="bg-wrapper_section"></div>
    <div class="bg-wrapper_section"></div>
</div>