<footer class=" container mx-auto footer">
    <div class="footer_wrapper">
        <div class="footer_wrapper_section_social">
            <ul>
                <li>
                    <a href="">
                        <i class="ri-facebook-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="ri-instagram-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="ri-twitter-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="ri-github-fill"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_wrapper_section_copyright">
            <p>Mindful Maven &copy; <?php echo date('Y') ?> . All Rights Reserved. Designed &amp; Developed By <a href="https://twitter.com/AmitDeka10" target="_blank">Amit Deka</a>.</p>
        </div>
    </div>
</footer>