<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %> | WriteUp</title>
<link rel="stylesheet" href="/css/remixicon.css" />
<link rel="stylesheet" href="/css/global.css" />

<link rel="preload" href="/js/spotlight.bundle.js" as="script" />
